#header{display:flex;
justify-content:space-between;
margin:20px;
padding:30px;
}

#img-logo{width:150px;
height:70;
}

#sing-in{background-color:red;
height:50px;
width:100px;

}

#heading1{color:white;
text-align:center;
}

#heading2{color:white;
text-align:center;
}

#heading3{color:white;
text-align:center;
margin:30px;
}

body{background-image: url("pic.jpg");
     background-position:center; 
}

.box{text-align:center;
}

#bn{height:60px;
width:200px;
background-color:red;
color:white;
margin-top:30px;
border:none;
border-radius:5px;
}

#em{height:60px;
width:400px;
margin-top:30px;
border:none;
border-radius:5px;
}

#footer{
margin-top:50px;
text-align:center;
color:white;
}