
.img-logo{width:14%;
}

.btn-sing-in{background-color:red;
             color:white;
             padding-top:8px;
             padding-bottom:8px;
             padding-right:18px;
             padding-left:18px;
             border-color:red;
             border-radius:5px;
             height:40px;
             width:90;
}

.navbar{height:10%;
        display:flex;
        justify-content:space-between;
        padding-top:30px;
        padding-left:30px;
        padding-right:50px;
}


body{background-image: url("pic.jpg");
     background-position:center;
     
     
}

.titel{color:white; 
       text-transform:uppercase;
       margin:10%;     
}

h1{font-size:40px;
   text-transform:uppercase;
   text-align:center;
   margin:10%;
}

h2{text-align:center;
   font-size:20px;
   margin:10%;
}

P{font-size:30px;
align-item:center;
text-align:center;
font-family:verdana;
diplay-direction:center;
}

.box{
     display:flex;
     flex-direction:row;
     justify-content:center;
     aligh-item:center
     
}

.bn{
    background-color:red;
    height:50px;    
    color:white;
    text-decoretion:none;
    border-radius:15px;
}

.em{background-color:pink;
    height:50px;
    text-decoretion:none;
    border-radius:15px
}




